<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/posts/index.css">
<script defer src="/js/sort-helper.js"></script>
<%- include('../partials/nav') %>

<main>
  <div>
    <% if (posts.length) { %>
      <form id="sort-form" action="/posts/" method="GET">
        <select name="sort" id="sort-select">
          <option value="" disabled selected>Sort</option>
          <a href="/posts/?sort=recent">
            <option 
            <% if (sortType === 'recent') { %>
              <%= 'selected' %>
            <% } %> 
            value="recent">Recent</option>
          </a>
          <a href="/posts/?sort=popular">
            <option 
            <% if (sortType === 'popular') { %>
              <%= 'selected' %>
            <% } %>
            value="popular">Popular</option>
          </a>
        </select>
      </form>
      <%# const sortSelect = document.getElementById('sort-select') %>
      <%# posts.reverse() %>
      
      <% posts.forEach(post => { %>
        <div id="placeholder"></div>
        <div class="post-div">
          <div class="author-div">
            <img class="avatar" src="<%= post.author.avatar %>" alt="avatar">
            <p class="author"><%= post.author.name %></p>
            <%# let current = new Date().getMilliseconds() %>
            <%# let time = current - post.createdAt %>
            <p class="time" ><%= post.createdAt %></p>
          </div>
          <a href="/posts/<%= post._id %>">
            <div class="content-div">
              <div><%= post.title %></div>
              <% if (post.imageUrl) { %>
              <img id="post-image" src="<%= post.imageUrl %>" alt="custom image">
              <% } %>
              <p><%= post.text %></p>
            </div>
          </a>
          <div class="social-div">
            <div class="social-btn <%= post.likes.includes(user?.profile._id) ? 'green' : '' %> <%= post.dislikes.includes(user?.profile._id) ? 'red' : '' %>">
              <!-- likes -->
              <a href="/posts/<%= post._id %>/like?redirectTo=/posts&sort=<%= sortType %>" id="like"><i class="fas fa-solid fa-angle-up" style="color: white;"></i></a>
              <div id="likes"><%= post.likes.length - post.dislikes.length %></div>
              <a href="/posts/<%= post._id %>/dislike?redirectTo=/posts&sort=<%= sortType %>" id="dislike"><i class="fas fa-solid fa-angle-down" style="color: white;"></i></a>
            </div>
            <a href="/posts/<%= post._id %>">
              <div class="social-btn">
                <div id="num-comments"><%= post.comments.length %></div>
                <div><i class="fas fa-solid fa-comment" style="color: white;"></i></div>
              </div>
            </a>
          </div>
        </div>
      <% }) %>
    
    <% } %>
  </div>
</main>

<%- include('../partials/footer') %>