<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/posts/show.css">
<%- include('../partials/nav') %>

<main>
  <div class="post-div">
    <div class="author-div">
      <div class="author-section-1"> 
        <a href="/posts">
          <div class="back-div">
            <i class="fas fa-solid fa-arrow-left" style="color: white;"></i>
          </div>
        </a>
        <img class="avatar" src="<%= post.author.avatar %>" alt="avatar">
        <p class="author" ><%= post.author.name %></p>
      </div>
      <% if (post.author.equals(user?.profile._id)) { %>
        <div class="author-section-2">
          <a href="/posts/<%= post._id %>/edit">
            <button class="post-show-btn"><i class="fas fa-solid fa-pen" style="color:white;"></i></button>
          </a>
          <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
            <button class="post-show-btn" type="submit"><i class="fas fa-solid fa-trash"></i></button>
          </form>
        </div>
      <% } %>
      
    </div>
    <div class="content-div">
      <p id="title"><%= post.title %></p>
      <p><%= post.text %></p>
    </div>
    <div class="social-div">
      <div class="social-btn">
        <div id="like"><i class="fas fa-solid fa-angle-up" style="color: white;"></i></div>
        <div id="likes"><%= post.likes %></div>
        <div id="dislike"><i class="fas fa-solid fa-angle-down" style="color: white;"></i></div>
      </div>
      <div class="social-btn">
        <div id="num-comments"><%= post.comments.length %></div>
        <div><i class="fas fa-solid fa-comment" style="color: white;"></i></div>
      </div>
    </div>
  </div>
  <div class="comments-div">
    <div class="comment-submit">
      <form id="comment-form" action="/posts/<%= post._id %>/comments" method="POST">
        <textarea id="comment-input" name="text" id="" cols="40" rows="1" placeholder="Add a comment"></textarea>
        <button id="comment-form-button" type="submit"><i class=" fas fa-solid fa-paper-plane" style="color: white;"></i></button>
      </form>
    </div>
    <div class="comment-show">
      <% post.comments.reverse() %>
      <%# post.comments.sort(a,b) => a.likes - b.likes %>
      <% post.comments.forEach(comment => { %>
        <div class="comment-div">
          <div class="author-div">
            <div class="author-section-1"> 
              <img class="avatar" src="<%= comment.author.avatar %>" alt="avatar">
              <p class="author" ><%= comment.author.name %></p>
            </div>
            <% if (comment.author.equals(user?.profile._id)) { %>
              <div class="author-section-2">
                <a href="/posts/<%= post._id %>/comments/<%= comment._id %>/edit">
                  <button class="post-show-btn"><i class="fas fa-solid fa-pen" style="color:white;"></i></button>
                </a>
                <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                  <button class="post-show-btn" type="submit"><i class="fas fa-solid fa-trash"></i></button>
                </form>
              </div>
            <% } %>
          </div>
          <div class="comment-content-div">
            <p><%= comment.text %></p>
          </div>
          <div class="comment-social-div">
            <div class="social-btn">
              <div id="like"><i class="fas fa-solid fa-angle-up" style="color: white;"></i></div>
              <div id="likes"><%= comment.likes %></div>
              <div id="dislike"><i class="fas fa-solid fa-angle-down" style="color: white;"></i></div>
            </div>
            <!-- <div class="social-btn">
              <div id="num-comments"><%# comment.comments.length %></div>
              <div><i class="fas fa-solid fa-comment" style="color: white;"></i></div>
            </div> -->
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>